h1 {
    text-align: center;
    padding-top: 10px;
}

.container {
    text-align: center;
    margin-top: 20px;
}

form {
    display: inline-block;
    text-align: left;
    width: 100%;
    max-width: 700px; 
}

.full-width {
    width: 100%;
    max-width: 700px;
}

.btn {
    margin-top: 10px;
}

.result {
    text-align: center;
    max-width: 700px;
    margin: 20px auto; 
}

.summary-text {
    text-align: left; 
    font-family: Arial, sans-serif; 
    padding: 20px;
    display: inline-block; 
    background-color: #f8f9fa; 
    border-radius: 8px;
}

.summary-text h3 {
    font-family: 'Georgia', serif; 
    color: #4a90e2;
    font-weight: bold;
}

.summary-text strong {
    font-weight: bold;
    color: #333;
}

.summary-text ul {
    margin-left: 20px;
}

#loader {
    text-align: center;
    margin-top: 10%;
    color: green;
    font-weight: 700;
}

@media (max-width: 768px) {
    .full-width {
        max-width: 100%;
    }
    .card {
        padding: 10px;
    }
}
